@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color:black;
    color:#d9d9d9;
    overflow: hidden;
}

.titulo-destaque{
    color: crimson;
}

.paragrafo-destaque{
    color: crimson;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 38px;
    font-family: 'Roboto Mono', monospace;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Roboto Mono', monospace ;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link{
    background-color: crimson;
    text-align: center;
    width: 260px;
    border-radius: 17px;
    font-size: 24px;
    padding: 21px 0;
    text-decoration: none;
    color: #d9d9d9;
    font-family:'Roboto Mono', monospace;
    font-weight: bold;
    
}
